<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOST</key>
		<string>127.0.0.1</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
		<key>PORT</key>
		<string>8430</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.nonarkara.vision</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/node</string>
		<string>/Users/axiom/Library/Application Support/Vision/server/index.js</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/axiom/Library/Application Support/Vision/logs/org.nonarkara.vision.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/axiom/Library/Application Support/Vision/logs/org.nonarkara.vision.out.log</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>WorkingDirectory</key>
	<string>/Users/axiom/Library/Application Support/Vision</string>
</dict>
</plist>
